<h1>givaudan production angular</h1>
<givaudan-production-angular-contacts></givaudan-production-angular-contacts>
<p>a simple contact page with these features</p>
<ul>
    <li>list the contacts(sort and filter)</li>
    <li>show a contact information - hover on the id, then click</li>
    <li>create a contact - click the add button; update a contact - click the edit button</li>
    <li>Import a CSV - click import btn, do not have the check and filter, so please use the right format.</li>
    <li>export a CSV - click export btn</li>
</ul>
<p>Attention: do not have an overall errorcatch, if there is an error alert, please refresh the page.
    Please upload a right format CSV. If you have the id, it will update; if not, it will add.
    No check and filter, so it will add empty line and have error sometimes.
</p>