<div class="button-group">
    <button mat-raised-button color="primary" (click)="openAddContactDialog()">Add</button>
    <div style="display: inline-block;">
        <input type="file" style="display: none" #fileInput
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (change)="importDataFromCSV($event)" />
        <button mat-raised-button class="file-select-button" (click)="importCSV()">
            <mat-icon>attach_file</mat-icon>
            Choose file
        </button>
    </div>
    <button mat-raised-button (click)="exportCSV()">Export CSV</button>
</div>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row" style="cursor: pointer;" (click)="openContactInfo(row)"> {{row.id}}
            </mat-cell>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.age}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
        </ng-container>

        <!-- Company Column -->
        <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.company}} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row;">
                <button mat-icon-button (click)="openAddContactDialog(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDeleteDialog(row)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>